* {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

li {
    margin: 5px;
}

.encabezado {
    background-color: #E6E6E6;
    margin-bottom: 0px;
}

.logo {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.logo img {
    max-width: 200px;
    border-radius: 50%;
    border:1px solid #000;
    filter: drop-shadow(5px 3px 5px #000);
}

.cuerpo {
    width: 100%;
    background-color: #FFFFFF;
}

.titulo {
    color: #005677;
    background-color: #eeeeee;
    letter-spacing: 2px;
    border-bottom: solid 3px  #005677;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo h1 {
    line-height: 50px;
    text-align: center;
}

.titulo h2 {
    line-height: 30px;
    margin-left: 20px;
}

.grilla {
    width: 100%;
}

.dato {
    font-weight: bold;
}

.detalles {
    display: inline-grid;
    margin-left: 50px;
    margin-bottom: 10px;
}

.detalles p {
    font-size: 15px;
    padding-bottom: 0px;
    line-height: 20px;
}

.espacio {
    display: block;
    width: 100%;
    height: 20px;
}

.piepagina {
    width: 100%;
    background-color: #005677;
    border-top: solid 3px #FFF;
}

.contenidopie {
    text-align: center;
    color: #FFFFFF;
}

.contenidopie p {
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    padding: 5px;
}

.contenidopie p > span {
    margin-right: 20px;
}

.redessociales {
    margin-right: 20px;
    vertical-align: text-top;
}

/* CSS Animation Text - Only testing */

.animate-charcter
{
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 70% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: block;
    font-size: 20px;
    margin-top:20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}