* {
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

figcaption {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

li {
    margin: 5px;
}

.encabezado {
    background-color: #E6E6E6;
    margin-bottom: 0px;
}

.logo {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.logo img {
    max-width: 200px;
    border-radius: 50%;
    border:1px solid #000;
    filter: drop-shadow(5px 3px 5px #000);
}

.cuerpo {
    width: 100%;
    background-color: #FFFFFF;
}

.titulo {
    color: #005677;
    background-color: #eeeeee;
    letter-spacing: 2px;
    border-bottom: solid 3px  #005677;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titulo h1 {
    line-height: 50px;
    text-align: center;
}

.titulo h2 {
    line-height: 30px;
    margin-left: 20px;
}

.grilla {
    width: 100%;
}

.dato {
    font-weight: bold;
}

.detalles {
    display: inline-grid;
    margin-left: 50px;
    margin-bottom: 10px;
}

.detalles p {
    font-size: 15px;
    padding-bottom: 0px;
    line-height: 20px;
}

.espacio {
    width: 100%;
    height: 100px;
}

.piepagina {
    width: 100%;
    background-color: #005677;
    border-top: solid 3px #FFF;
}

.contenidopie {
    text-align: center;
    color: #FFFFFF;
}

.contenidopie p {
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
    padding: 5px;
}

.contenidopie p > span {
    margin-right: 20px;
}

.redessociales {
    margin-right: 20px;
    vertical-align: text-top;
}